{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block content %}
    
<h1 style="font-family:georgia;">About Us</h1>
<nav>
  <ul>
    <li>
      <a href="/">About Yourself</a>
    </li>
    <li>
      <a href="/Experience">Previous Work Experience</a>
    </li>
    <li>
      <a href="/Hobbies">Hobbies</a>
    </li>
    <li>
        <a href="/Education">Education</a>
      </li>
      <li>
        <a href="/Map">Map</a>
      </li>
      <li>
        <a href="/Timeline">Timeline</a>
      </li>
  </ul>
</nav>

  <h1>Shivani's Education</h1>
     <h5>Ohio State University - 2022-2026</h5>
     <p>B.S. Computer Science and Engineering</p>
     <img id=mainImage110 src="./static/img/ohio_state.jpg" style="width:200px;height:200px;"> 
     <h5>Beachwood High School - 2018-2022</h5>
     <img id=mainImage111 src="./static/img/beachwood.jpg" style="width:200px;height:200px;">
     
    <h1>Arpitha's Education</h1>
     <h5> University of California, Santa Cruz - 2019-2023</h5>
     <p> B.S. Biomolecular Engineering and Bioinformatics: Bioinformatics</p>
     <p> Computer Science Minor</p>
     <img id=mainImage112 src="./static/img/uc_santa_cruz.jpg" style="width:200px;height:200px;">
     <h5> Monta Vista High School - 2015-2019</h5>
     <img id=mainImage113 src="./static/img/monta_vista.jpg" style="width:200px;height:200px;">
    
{% endblock %}
