{% extends "base.html" %}
{% block head %}

{% endblock %}
  
{% block content %}
    
    <h1 style="font-family:georgia;">Work Experience</h1>
<nav>
  <ul>
    <li>
      <a href="About_Yourself.html">About Yourself</a>
    </li>
    <li>
      <a href="Previous_Work_Experience.html">Previous Work Experience</a>
    </li>
    <li>
      <a href="Hobbies.html">Hobbies</a>
    </li>
    <li>
        <a href="Education.html">Education</a>
      </li>
      <li>
        <a href="Map.html">Map</a>
      </li>
      <li>
         <a href="Timeline.html">Timeline</a>
      </li>
  </ul>
</nav>
  <h1>Shivani's Experience</h1>
    <h4>Ahuja Medical Center</h4>
    <h4>Safety Town</h4>
    <h4>South Euclid Community Center</h4>

    <h4>Linked IN Resume</h4>
    <p>Shivani Rajgopal's Linked IN Resume <a href="https://www.linkedin.com/in/shivani-raj-2b21b2217/">Linked IN</a></p>
    
  <h1>Arpitha's Experience</h1>
    <h4>UC Santa Cruz Genomics Institute</h4>
    <p>Undergraduate Research Assistant in Stuart Lab: Cancer Machine Learning<p>
    <p>Undergraduate Research Assistant in Haussler Lab: Braingeneers<p>
    <h4>UC Santa Cruz Bioinformatics Club</h4>
    <p>President<p>
    <p>Vice President<p>
    <h4>Major League Hacking</h4>
    <h4>Meta Platforms</h4>
    <p>Production Engineering Fellow<p>
    <h4>ImmunitoAI</h4>
    <p>Bioinformatics Intern<p>
      
    <h4>Linked IN Resume</h4>
    <p>Arpitha Rao's Linked IN Resume <a href="https://www.linkedin.com/in/arpitha-rao-5376911b2">Linked IN</a></p>
    
      
     
    
{% endblock %}
