{% extends "base.html" %}
{% block head %}

{% endblock %}
  
{% block content %}

<h1 style="font-family:georgia;">About Us</h1>
<nav>
  <ul>
    <li>
      <a href="/">About Yourself</a>
    </li>
    <li>
      <a href="/Experience">Previous Work Experience</a>
    </li>
    <li>
      <a href="/Hobbies">Hobbies</a>
    </li>
    <li>
        <a href="/Education">Education</a>
      </li>
      <li>
        <a href="/Map">Map</a>
      </li>
      <li>
        <a href="/Timeline">Timeline</a>
      </li>
  </ul>
</nav>

  <h1>Shivani's Experience</h1>
    <h4>Major League Hacking</h4>
    <h4>Meta Platforms</h4>
    <p>Production Engineering Fellow<p>
    <img id=mainImage100 src="./static/img/MLH_Fellowship.jpg" style="width:200px;height:200px;"> 
    <h4>Ahuja Medical Center</h4>
    <img id=mainImage104 src="./static/img/ahuja.jpg" style="width:200px;height:200px;"> 
    <h4>Safety Town</h4>
    <img id=mainImage105 src="./static/img/safety_town.jpg" style="width:200px;height:200px;">
    <h4>South Euclid Community Center</h4>
    <img id=mainImage106 src="./static/img/euclidean_center.jpg" style="width:200px;height:200px;">

    <h4>Linked IN Resume</h4>
    <p>Shivani Rajgopal's Linked IN Resume <a href="https://www.linkedin.com/in/shivani-raj-2b21b2217/">Linked IN</a></p>
    
  <h1>Arpitha's Experience</h1>
    <h4>Major League Hacking</h4>
    <h4>Meta Platforms</h4>
    <p>Production Engineering Fellow<p>
    <img id=mainImage100 src="./static/img/MLH_Fellowship.jpg" style="width:200px;height:200px;"> 
    <h4>ImmunitoAI</h4>
    <p>Bioinformatics Intern<p>
    <img id=mainImage101 src="./static/img/immunitoAI.jpg" style="width:200px;height:200px;"> 
    <h4>UC Santa Cruz Genomics Institute</h4>
    <p>Undergraduate Research Assistant in Stuart Lab: Cancer Machine Learning<p>
    <p>Undergraduate Research Assistant in Haussler Lab: Braingeneers<p>
    <img id=mainImage102 src="./static/img/Genomics_Institute.jpg" style="width:200px;height:200px;"> 
    <h4>UC Santa Cruz Bioinformatics Club</h4>
    <p>President<p>
    <p>Vice President<p>
    <img id=mainImage103 src="./static/img/Bioinformatics_Club.jpg" style="width:200px;height:200px;"> 
    
      
    <h4>Linked IN Resume</h4>
    <p>Arpitha Rao's Linked IN Resume <a href="https://www.linkedin.com/in/arpitha-rao-5376911b2">Linked IN</a></p>
    
      
     
    
{% endblock %}
