{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block content %}

    <h1 style="font-family:georgia;">About Us</h1>
<nav>
  <ul>
    <li>
      <a href="About_Yourself.html">About Yourself</a>
    </li>
    <li>
      <a href="Previous_Work_Experience.html">Previous Work Experience</a>
    </li>
    <li>
      <a href="Hobbies.html">Hobbies</a>
    </li>
    <li>
        <a href="Education.html">Education</a>
      </li>
      <li>
        <a href="Map.html">Map</a>
      </li>
      <li>
         <a href="Timeline.html">Timeline</a>
      </li>
  </ul>
</nav>

<h1>Timeline</h1>

<body>
    <h2>Add an Entry</h2>
    <form action="/action_page.php" method="post">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
  
</html>
    
{% endblock %}
